# Created by venv; see https://docs.python.org/3/library/venv.html
# Ignore Python cache and compiled files
__pycache__/
*.py[cod]

# Ignore virtual environment
.venv/

# Ignore logs, databases, and csvs
*.log
*.csv
*.db

# Ignore VSCode settings
.vscode/
api_server.log
